<div class="section fp-auto-height-responsive fp-auto-height" id="footerheight">
  <footer>
    <!-- 1200으로 묶고 좌우패딩 77 -->
    <div class="footer__wrap">
      <!-- footer 로고 -->
      <div class="footer__logo"></div>
      <!-- footer 가운데 컨텐츠 -->
      <div class="footer__text">
        <ul>
          <li class="en">
            <p>Copyright 2011 <span class="ko">(주)서울탁주제조협회</span> All Rights Reserved.</p>
          </li>
          <li>
            <p class="ko">
              서울 특별시 마포구 망원동 419-24 오일빌딩 3층, tel (02)3141-7611~6, fax (02)3141-7617<br />
              <span class="en">Seoul, Mapo-Gu, Mangwon-Dong, 419-24 Oil bidg. 3rd flor</span>
            </p>
          </li>
        </ul>
      </div>
      <!-- footer SNS 박스들 -->
      <div class="footer__joinMore ko">
        <div class="footer__SNS">
          <div class="facebook" onclick="javascript:location.href='http://facebook.com/seouljangsoo';" style="cursor: pointer">
            <div class="facebook__img"></div>
            <p><span>서울탁주</span> 페이스북</p>
          </div>
          <div class="insta" onclick="javascript:location.href='https://www.instagram.com/jangsoo.seoul_official';" style="cursor: pointer">
            <i class="fa-brands fa-instagram"></i>
            <p><span>서울탁주</span> 인스타그램</p>
          </div>
        </div>
        <aside class="QR">
          <div class="QR_img"></div>
          <p>모바일 환경에서도<br />편리하게 접속하세요!</p>
        </aside>
      </div>
    </div>
  </footer>
</div>
