<header>
  <div id="h_wrap">
    <!-- 로고 -->
    <h1 class="logoIMG"><a href="/"></a></h1>
    <!--네비게이션-->
    <div id="gnb">
      <ul id="drop" class="ko">
        <li class="over en home" id="notover" data-id="home">
          <a href="/">HOME</a>
          <ul class="cont" id="home">
            <li><a href="#"></a></li>
          </ul>
        </li>
        <li class="over overON" data-id="range">
          <a href="/productDetail">제품소개</a>
          <!--드롭다운 컨텐츠-->
          <ul class="cont ko" id="range">
            <li><a href="/productDetail">서울탁주 막걸리</a></li>
            <li class="en"><a href="#">R&D</a></li>
            <li><a href="/manu">제조공정</a></li>
            <li><a href="#">상표특허</a></li>
          </ul>
        </li>
        <li class="over overON" data-id="continuous">
          <a href="#">술익는 마을</a>
          <!--드롭다운 컨텐츠-->
          <ul class="cont ko" id="continuous">
            <li><a href="#">숨쉬는 막걸리를 만들다</a></li>
            <li><a href="#">신선함을 사수하라</a></li>
            <li><a href="#">37년 막걸리 인생</a></li>
            <li><a href="#">막걸리 사이언스</a></li>
            <li><a href="#">장수막걸리 추천맛집</a></li>
            <li><a href="#">막걸리 외길50년</a></li>
          </ul>
        </li>
        <li class="over overON" data-id="employment">
          <a href="#">고객센터</a>
          <ul class="cont ko" id="employment">
            <li><a href="/notice">공지사항</a></li>
            <li><a href="/news">보도자료</a></li>
            <li><a href="#">홍보자료</a></li>
            <li><a href="#">고객의 소리</a></li>
          </ul>
        </li>
        <li class="over overON" data-id="inverstment">
          <a href="/aboutUs">서울탁주제조협회</a>
          <ul class="cont ko" id="inverstment">
            <li><a class="subNav" href="aboutUs#aboutUs-intro">서울탁주제조협회</a></li>
            <li><a class="subNav" href="aboutUs#takju-factoryMap">회원사제조장</a></li>
            <li><a class="subNav" href="aboutUs#takju-youtube">서울탁주 홍보영상</a></li>
            <li><a class="subNav" href="aboutUs#takju-location">찾아오시는 길</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--헤더 오른쪽 네비게이션-->
    <div class="h_right">
      <ul>
        <li class="en"><a href="/login">LOGIN</a></li>
      </ul>
      <div class="dropdown en">
        <button onclick="myFunction()" class="dropbtn en">
          <p>KOR</p>
          <i class="fa-solid fa-globe"></i>
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div id="myDropdown" class="dropdown-content en">
          <a href="/">KOR</a>
          <a href="/">ENG</a>
        </div>
      </div>
      <div class="h_right_menu">
        <div class="icon nav-icon-5">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div id="mySidenav" class="sidenav ko">
          <ul>
            <li>
              <a href="/productDetail"> 제품소개</a>
              <ul class="underMenu">
                <li><a href="/productDetail">서울탁주 막걸리</a></li>
                <li class="en"><a href="#">R&D</a></li>
                <li><a href="/manu">제조공정</a></li>
                <li><a href="#">상표특허</a></li>
              </ul>
            </li>
            <li>
              <a href="">술익는 마을</a>
              <ul class="underMenu">
                <li><a href="#">숨쉬는 막걸리를 만들다</a></li>
                <li><a href="#">신선함을 사수하라</a></li>
                <li><a href="#">37년 막걸리 인생</a></li>
                <li><a href="#">막걸리 사이언스</a></li>
                <li><a href="#">장수막걸리 추천맛집</a></li>
                <li><a href="#">막걸리 외길50년</a></li>
              </ul>
            </li>
            <li>
              <a href="">고객센터</a>
              <ul class="underMenu">
                <li><a href="/notice">공지사항</a></li>
                <li><a href="#">보도자료</a></li>
                <li><a href="#">홍보자료</a></li>
                <li><a href="#">고객의 소리</a></li>
              </ul>
            </li>
            <li>
              <a href="/aboutUs">서울탁주제조협회</a>
              <ul class="underMenu">
                <li><a class="subNav" href="aboutUs#aboutUs-intro">서울탁주제조협회</a></li>
                <li><a class="subNav" href="aboutUs#takju-factoryMap">회원사제조장</a></li>
                <li><a class="subNav" href="aboutUs#takju-youtube">서울탁주 홍보영상</a></li>
                <li><a class="subNav" href="aboutUs#takju-location">찾아오시는 길</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
