<main class="p200 ko">
  <section class="login-page__wrap">
    <div class="login-page__title">
      <h1>로그인</h1>
    </div>
    <form action="/loginS" method="post">
      <div class="login-page__idpw">
        <input class="login-id" name="userId" type="text" placeholder="아이디" />
        <input class="login-pw" name="userPw" type="password" placeholder="비밀번호" />
      </div>
      <div>
        <button class="securityBtn ko"><span></span>보안접속</button>
      </div>
      <p class="loginBtn ko">
        <input type="submit" value="로그인" />
      </p>
    </form>
    <div class="login__sub-button">
      <p class="findID ko">
        <a href="">아이디 찾기</a>
      </p>
      <p class="findPW ko">
        <a href="">비밀번호 찾기</a>
      </p>
      <p class="joinBtn ko">
        <a href="/join">회원가입</a>
      </p>
    </div>
    <div class="backgroun__bori">
      <img src="img/move-bori_3.gif" alt="" />
    </div>
  </section>
</main>
