<main id="manu">
  <!-- 섹션1 -->
  <section class="w1920">
    <div class="manufacture__section1-bg"></div>
  </section>
  <!-- 섹션2 -->
  <section>
    <div class="manufacture-section__wrap section2 ko">
      <article>
        <h1 data-aos="fade-up" data-aos-duration="1000">시간과 정성을 빚습니다.</h1>
        <p data-aos="fade-right" data-aos-duration="1000">
          부모의 마음으로 정성스러운 막걸리를 만드는 것,<br />
          바로서울 탁주의 신념입니다.<br />
          <br />
          항상 좋은 것만 주시려는 마음을 따라<br />
          국산 쌀만을 사용하여<br />
          전통 방식 그대로<br />
          담아 빚었습니다.<br />
          <br />
          살아 숨 쉬는 누룩이 만들어낸 천연 탄산은<br />
          긴 발효의 기다림이 주는 선물입니다.
        </p>
      </article>
      <article class="manufacture-section2__img manufacture-section__img ko"></article>
    </div>
  </section>
  <section>
    <div class="atech ko">
      <article>
        <h1 data-aos="fade-up" data-aos-duration="1000">서울 탁주의 제조 공정</h1>
        <p data-aos="fade-up" data-aos-duration="1000">
          서울탁주의 제조공정은 6개 단계로 되어 있으며, <br />
          제조공정 직원들은 이 밖에도 막걸리 원료 원산지를 발굴하고, <br />
          현장 생산과 제품화가 가능한지도 검토합니다.
        </p>
      </article>
      <article>
        <div class="atech--bg"></div>
      </article>
    </div>
    <div class="second-bori bori" data-aos="fade-up">
      <img src="img/move-bori.gif" alt="" />
    </div>
  </section>
  <!-- 섹션3 -->
  <section>
    <div class="manufacture-section__wrap section3 ko">
      <article>
        <h2 data-aos="fade-up" data-aos-duration="1000">첫번째,</h2>
        <h1 data-aos="fade-up" data-aos-duration="1000">재료준비</h1>
        <p data-aos="fade-right" data-aos-duration="1000">
          전분을 당분으로 분해한 효소가 들어있는 누룩과 <br />
          입국 속 효소가 분해한 당분을 효모가 알코올로 변화시킵니다.<br />
          발효를 촉진시키기 위해 막걸리의 주재료 쌀과 튀긴 쌀가루를 함께 넣고<br />
          삼투압 정수기로 걸러진 정제수를 사용합니다. 그리고<br />
          술맛을 부드럽게 하기 위해 정정작용 효과가 있는 올리고당을 첨가합니다.
        </p>
      </article>
      <article class="manufacture-section3__img manufacture-section__img"></article>
    </div>
    <div class="third-bori bori" data-aos="fade-up">
      <img src="img/move-bori.gif" alt="" />
    </div>
  </section>
  <!-- 섹션4  -->
  <section>
    <div class="manufacture-section__wrap section4 ko">
      <article>
        <h2 data-aos="fade-up" data-aos-duration="1000">두번째,</h2>
        <h1 data-aos="fade-up" data-aos-duration="1000">밑술 만들기</h1>
        <p data-aos="fade-left" data-aos-duration="1000">
          밑술 단계는 누룩의 효소와 효모를 배양시키는 단계입니다.<br />
          입국,효모,정제수를 넣고 저온장기 발효를 함으로써<br />
          맛있는 술을 만듭니다.
        </p>
      </article>
      <article class="manufacture-section4__img manufacture-section__img"></article>
    </div>
    <div class="first-bori bori" data-aos="fade-up">
      <img src="img/move-bori_4.gif" alt="" />
    </div>
  </section>
  <!-- 섹션5 -->
  <section>
    <div class="manufacture-section__wrap section5 ko">
      <article>
        <h2 data-aos="fade-up" data-aos-duration="1000">세번째,</h2>
        <h1 data-aos="fade-up" data-aos-duration="1000">담금주 배양하기</h1>
        <p data-aos="fade-right" data-aos-duration="1000">
          담금조의 적정 온도를 유지하고 하루 3회 저어서 <br />
          산소를 공급하고 덩어리를 풀어줍니다.<br />
          파이프 속으로 냉각수를 흘려보내 발효되면서<br />
          올라가는 막걸의 온도를 낮춰줍니다.
        </p>
      </article>
      <article class="manufacture-section5__img manufacture-section__img"></article>
    </div>
    <div class="fourth-bori bori" data-aos="fade-up">
      <img src="img/back1.png" alt="" />
    </div>
  </section>
  <!-- 섹션6 -->
  <section>
    <div class="manufacture-section__wrap section6 ko">
      <article>
        <h2 data-aos="fade-up" data-aos-duration="1000">네번째,</h2>
        <h1 data-aos="fade-up" data-aos-duration="1000">거르기</h1>
        <p data-aos="fade-left" data-aos-duration="1000">
          담금조 숙성이 완료되면 건더기를 걸러서 원액 상태로<br />
          거름통에 담습니다. 걸러진 원액에 물 정제수를 타서<br />
          막걸리 규격을 맞춥니다.<br />
        </p>
      </article>
      <article class="manufacture-section6__img manufacture-section__img"></article>
    </div>
    <div class="fivth-bori bori" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
      <img src="img/back2.png" alt="" />
    </div>
  </section>
  <!-- 섹션7 -->
  <section>
    <div class="manufacture-section__wrap section7 ko">
      <article>
        <h2 data-aos="fade-up" data-aos-duration="1000">다섯번째,</h2>
        <h1 data-aos="fade-up" data-aos-duration="1000">포장 · 출고</h1>
        <p data-aos="fade-right" data-aos-duration="1000">
          담금조의 적정 온도를 유지하고 하루 3회 저어서 <br />
          산소를 공급하고 덩어리를 풀어줍니다.<br />
          파이프 속으로 냉각수를 흘려보내 발효되면서 <br />
          올라가는 막걸의 온도를 낮춰줍니다.
        </p>
      </article>
      <article class="manufacture-section7__img manufacture-section__img"></article>
    </div>
  </section>
  <!-- 섹션8 -->
  <section>
    <div class="manufacture-section__wrap section8 ko">
      <article>
        <h2 data-aos="fade-up" data-aos-duration="1000">여섯번째,</h2>
        <h1 data-aos="fade-up" data-aos-duration="1000">제품화 과정</h1>
        <p data-aos="fade-left" data-aos-duration="1000">
          생막걸리 (장수 막걸리)의 경우, <br />
          숙성된 술덧 > 제성 > 주입 포장 > 출고의 과정을 거치게 되고<br />
          <br />
          살균막걸리 (월매 쌀막걸리)는<br />
          숙성된 술덧 > 제성 > 선살균 > 주입 포장 > 후살균 > 출고<br />
          과정을 거쳐 제품을 생산하게 됩니다.
        </p>
      </article>
      <article class="manufacture-section8__img manufacture-section__img"></article>
    </div>
  </section>
</main>