<main id="product_detail">
  <!-- 섹션1 -->
  <section class="w1920">
    <div class="detail__section1-bg"></div>
  </section>
  <!-- 섹션2 -->
  <section>
    <div class="detail-section__wrap section2 ko">
      <article>
        <h1 data-aos="fade-up" data-aos-duration="1000">장수(長壽) 생막걸리</h1>
        <h2 data-aos="fade-up" data-aos-duration="1000">
          장수(長壽) 생막걸리는 효모균이<br />
          그대로 살아있습니다.
        </h2>
        <p data-aos="fade-right" data-aos-duration="1000">
          주류의 종류 : 탁주<br />
          주정도수 : 알코올 6도 기준<br />
          사용원료 : 백미 90%, 이소말토올리고당 10%<br />
          용량 및 포장 : 750㎖ 녹색의 PET<br />
          품질유지기한 : 제조일로부터 냉장보관시 10일
        </p>
      </article>
      <article class="detail-section2__img detail-section__img ko"></article>
    </div>
    <div class="first-bori bori" data-aos="fade-up">
      <img src="img/move-bori_4.gif" alt="" />
    </div>
  </section>
  <!-- 섹션3 -->
  <section>
    <div class="detail-section__wrap section3 ko">
      <article>
        <h1 data-aos="fade-up" data-aos-duration="1000">월매 쌀 막걸리</h1>
        <h2 data-aos="fade-up" data-aos-duration="1000">
          저온에서 완전 숙성시킨 후 최첨단 설비로<br />
          살균처리하고 천연탄산을 첨가했습니다.
        </h2>
        <p data-aos="fade-left" data-aos-duration="1000">
          주류의 종류 : 살균탁주<br />
          주정도수 : 알코올 6도 기준<br />
          사용원료 : 백미 90%, 말토올리고당 10%<br />
          용량 및 포장 : 350㎖ 알루미늄 캔, 1000㎖ 내열 내압 PET<br />
          유통기한 : 제조일로부터 12개월
        </p>
      </article>
      <article class="detail-section3__img detail-section__img"></article>
    </div>
    <div class="second-bori bori" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
      <img src="img/move-bori.gif" alt="" />
    </div>
  </section>
  <!-- 섹션4  -->
  <section>
    <div class="detail-section__wrap section4 ko">
      <article>
        <h1 data-aos="fade-up" data-aos-duration="1000">인생 막걸리</h1>
        <h2 data-aos="fade-up" data-aos-duration="1000">
          달달상큼 깔끔한 맛과 세대별 맞춤<br />
          공감 디자인의 레트로풍 인생막걸리!
        </h2>
        <p data-aos="fade-right" data-aos-duration="1000">
          주류의 종류 : 탁주<br />
          주정도수 : 알코올 5도 기준<br />
          사용원료 : 팽화밀가루, 팽화미<br />
          용량 및 포장 : 750㎖ 투명 PET<br />
          품질유지기한 : 제조일로부터 냉장보관시 30일
        </p>
      </article>
      <article class="detail-section4__img detail-section__img"></article>
    </div>
    <div class="third-bori bori" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
      <img src="img/move-bori.gif" alt="" />
    </div>
  </section>
  <!-- 섹션5 -->
  <section>
    <div class="detail-section__wrap section5 ko">
      <article>
        <h1 data-aos="fade-up" data-aos-duration="1000">Ee:FF -이프-</h1>
        <h2 data-aos="fade-up" data-aos-duration="1000">
          달콤한 향과 맛에 청량감과 부드러움을 더해<br />
          저알코올 음료로서 여성 및 젊은층을 <br />
          타켓으로 한 신세대 막걸리입니다.
        </h2>
        <p data-aos="fade-left" data-aos-duration="1000">
          주류의 종류 : 살균탁주<br />
          주정도수 : 알코올 3도 기준<br />
          사용원료 : 백미 90%(국내산), 말토올리고당 10%<br />
          용량 및 포장 : 350ml<br />
          유통기한 : 제조일로부터 12개월
        </p>
      </article>
      <article class="detail-section5__img detail-section__img"></article>
    </div>
  </section>
  <!-- 섹션6 -->
  <section>
    <div class="detail-section__wrap section6 ko">
      <article>
        <h1 data-aos="fade-up" data-aos-duration="1000">달빛 유자 막걸리</h1>
        <h2 data-aos="fade-up" data-aos-duration="1000">
          향긋한 유자 향이 진한 여운을 남기고,<br />
          입안 가득 풍기는 유자의 상쾌한 산미가<br />
          특징입니다.
        </h2>
        <p data-aos="fade-right" data-aos-duration="1000">
          주류의 종류 : 살균탁주<br />
          주정도수 : 알코올 6도 기준<br />
          사용원료 : 국내산 쌀, 고흥유자과즙<br />
          용량 및 포장 : 750㎖ 투명 PET<br />
          품질유지기한 : 제조일로부터 5개월
        </p>
      </article>
      <article class="detail-section6__img detail-section__img"></article>
    </div>
    <div class="fourth-bori bori" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
      <img src="img/back1.png" alt="" />
    </div>
  </section>
  <!-- 섹션7 -->
  <section>
    <div class="detail-section__wrap section7 ko">
      <article>
        <h1 data-aos="fade-up" data-aos-duration="1000">장 홍삼 장수 막걸리</h1>
        <br />
        <h2 data-aos="fade-up" data-aos-duration="1000">
          전통 6년근 홍삼을 발효시킨 건강 지향성<br />
          고급 웰빙 막걸리
        </h2>
        <p data-aos="fade-left" data-aos-duration="1000">
          주류의 종류 : 살균탁주<br />
          주정도수 : 알코올 6도 기준<br />
          사용원료 :백미,말토올리고당,홍삼분말<br />
          용량 및 포장 : 750ml<br />
          유통기한 : 제조일로부터 12개월
        </p>
      </article>
      <article class="detail-section7__img detail-section__img"></article>
    </div>
    <div class="fivth-bori bori" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
      <img src="img/back2.png" alt="" />
    </div>
  </section>
  <!-- 섹션8 -->
  <section class="w1920">
    <div class="detail__section8-bg"></div>
  </section>
</main>
