<main id="welcome">
  <section>
    <div class="welcome__title">
      <h1>νμ›κ°€μ…</h1>
    </div>
    <div class="welcome__img">
      <img src="img/circle_check.png" alt="" />
    </div>
    <div class="sign__done">
      <h1>νμ›κ°€μ…μ΄ μ™„λ£λμ—μµλ‹λ‹¤</h1>
      <div class="sign__done--text">
        <p>
          μ¶•ν•ν•©λ‹λ‹¤ ! π‰β¨π‰π‰π‰π<br />
          νμ›λ‹μ΄ κ°€μ…ν•μ‹  μ •λ³΄λ” λ‹¤μκ³Ό κ°™μµλ‹λ‹¤.
        </p>
        <p name="userId" class="id">μ•„μ΄λ”” :<%= userId %></p>
        <p>λΉ„λ°€λ²νΈ : ********</p>
      </div>
      <div class="controlBtn">
        <article>
          <p><a href="/">λ©”μΈνμ΄μ§€</a></p>
        </article>
        <article>
          <p><a href="">λ΅κ·ΈμΈ</a></p>
        </article>
      </div>
    </div>
  </section>
</main>
