/*메인 BGI*/
.bgwrap {
  position: relative;
  overflow: hidden;
}
.bgimg {
  z-index: 8000;
  width: 100%;
  height: 100vh;
  background-image: url(../img/main_se1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation-name: scale;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.sec1__title {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 387px;
  height: 140px;
  background-image: url(../img/logo_wh.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform: translate(-50%);
}
@keyframes scale {
  0% {
    transform: none;
  }
  100% {
    transform: scale(1.1);
  }
}

/* 섹션1 */
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

/* 섹션1 타이틀 */
.sec1_title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  width: 1200px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  animation-name: opacity;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sec1_title > h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  line-height: 150%;
}
.sec1_title > h1 > span {
  color: #4db6ac;
}

.sec1_title > p {
  margin-top: 22px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
/* 마우스 휠 */
#scroll-downs {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#scroll-downs span {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #ffffff;
}
.mousey {
  display: block;
  width: 3px;
  height: 35px;
  margin: 10px auto 0;
  padding: 4px 10px 5px 10px;
  opacity: 0.75;
  border: 2px solid #fff;
  border-radius: 25px;
  box-sizing: content-box;
  transition: all 0.5s ease-in-out;
}

.scroller {
  display: block;
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  animation-name: scroll;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}
@media (max-width: 1280px) {
  .section1 {
    width: 100%;
  }
  .sec1_title {
    width: 100%;
    padding: 0 20px;
  }
  .sec1_title > h1 {
    font-size: 35px;
  }
  .sec1_title > p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  #scroll-downs {
    display: none;
  }
}
@media (max-width: 465px) {
  .section1 {
    display: block;
    height: 500px;
  }
  .bgimg {
    height: 500px;
  }
  .sec1__title {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 200px;
    height: 73px;
    background-image: url(../img/logo_wh.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translate(-50%);
  }

  .fp-tableCell {
    height: 500px !important;
  }
  .fp-section.fp-table,
  .fp-slide.fp-table {
    height: 500px !important;
  }
}
