.news_page {
  max-width: 1000px;
  margin-top: 80px;
  padding: 200px 0;
  margin: 0 auto;
}

.news-wrap {
  width: 100%;
  border-top: 2px solid #333
}

.news-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(194, 191, 175);
}

.news-content:hover {
  background-color: #cbc6ad55;
}


.news-img {
  width: 300px;
  transition: all 0.3s;
}

.news-img img {
  display: block;
  width: 100%;
  height: auto;

}

.news-text {
  width: 67%;
}

.news-title {
  font-size: 30px;
}

.news-writer {
  margin-right: 20px;
}


@media (max-width:1400px) {
  .news-img {
    width: 250px;
  }

}

@media (max-width:1200px) {
  .news_page {
    padding: 200px 30px;
  }

  .news-img {
    width: 250px;
  }

}

@media (max-width:1000px) {

  .news-img {
    width: 200px;
  }

  .news-title {
    font-size: 25px;
  }

}

@media (max-width:800px) {


  .news-content {
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
  }

  .news-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .news-wrap {
    flex-wrap: wrap;
    display: flex;
  }

  .news-img {
    width: 100%;
    margin-bottom: 10px;
  }

  .news-text {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .news-text span {
    font-size: 13px;
  }




}